
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-lg-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/index">Etusivu &nbsp; | <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Yritystiedot </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/home/about">About</a>
                    <a class="dropdown-item" href="/home/contact">Yhteystiedot</a>
                    <a class="dropdown-item" href="/home/map">Sijainti</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asiakkaat"> Asiakkaat </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Henkilot">Henkilöt </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tuotteet">Tuotteet  </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tilaustiedot </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/tilaukset">Tilaukset</a>
                    <a class="dropdown-item" href="/tilausrivit">Tilausrivit</a>
                    <a class="dropdown-item" href=" /Tilaukset/TilausOtsikot">Tilausotsikot</a>
                    <a class="dropdown-item" href="/tilaukset/OrderSummary">Yhteenveto</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Postitoimipaikat">Postitoimipaikat</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Northwind </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/NWProducts/Index">NW Products</a>
                    <a class="dropdown-item" href="/Statistics/CategorySales">Sales by category</a>
                    <a class="dropdown-item" href="/Statistics/BestSellersByQuantity">Best sellers by quantity</a>
                    <a class="dropdown-item" href="/Statistics/BestSellersByPrice">Best sellers by value</a>
                    <a class="dropdown-item" href="/Statistics/SalesPerWeekDay">Orders per weekday</a>
                </div>
            </li>
            <li class="nav-item" style="color:aliceblue">
                <p style="color:aliceblue; margin-top: 9px;">@Html.ActionLink("Kirjaudu ulos", "Logout", "Home") &nbsp;&nbsp;</p>
            </li>
            @*<li class="nav-item">
            <p style="color:aliceblue; margin-top: 9px;">|&nbsp; @ViewBag.LoggedStatus</p>
        </li>*@
        </ul>
    </div>
</nav>