@{
    ViewBag.Title = "About";
}
<br/>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Tällä sivulla voisi olla jotain kuvausta siitä, mitä tämä appi tai sivusto muuten sisältää. Tekstiä muutettu lähinnä sen takia, että löytää paikat, joista tätä ja muita kohtia editoidaan.</p>
