@{
    ViewBag.Title = "Kontakti";
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Joku Lafka Oy<br />
    Missälie 45, 96310 Rovaniemi<br />
    <abbr title="Phone">P:</abbr>
    040123123
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Support@example.com">ei@ole.com</a><br />
    <strong>Markkinointi:</strong> <a href="mailto:Marketing@example.com">jokug@meili.com</a>
</address>