

@{
    ViewBag.Title = "Etusivu";
}


<div class="jumbotron mt-5">
    <h1>ASP.NET MVC</h1>
    <p class="lead"><img class="scale-in-center" src="~/Icons/NucleoTest.svg" height="15" width="15" />ASP.NET koulutyön etusivu. Yläpalkin valikoiden kautta löytyy sovelluksen varsinainen sisältö. Lähdekoodi on  <a href="https://github.com/p3Tapio/Tietokantasovellukset_kurssi"  target="_blank">gitissä</a></p>
    <button class=" btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#loginModal">Kirjaudu</button>
</div>

