
<div class="modal fade" id="ProductSalesPerDateModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Daily sales</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <canvas id="linecanvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" title="Close" class="btn btn-outline-danger omaLink red-undo"><i class="fa fa-times red-undo"></i></button>
            </div>
        </div>
    </div>
</div>